@import 'tailwindcss';

@import '@kalel1500/laravel-ts-utils/dist/app/tabulator.css';
@import '@kalel1500/laravel-ts-utils/dist/app/sweetalert.css';
@import '@kalel1500/laravel-ts-utils/dist/app/slimselect.css';
@import '@kalel1500/laravel-ts-utils/dist/app/styles.css';
@import '@kalel1500/laravel-ts-utils/dist/app/tailwind-config.css';

@config '../../node_modules/@kalel1500/laravel-ts-utils/dist/plugins/tailwind/tailwind.config.js';